services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq-1
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "5672:5672"  
      - "15672:15672" 
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}
    env_file:
      - .env

  web:
    build: .
    container_name: web-1
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq
    volumes:
      - ./src:/app
      - media_volume:/app/media
      - static_volume:/app/staticfiles
    env_file:
      - .env

  worker:
    build: .
    container_name: worker-1
    command: celery -A reviewaggregator worker --loglevel=info
    volumes:
      - ./src:/app
      - media_volume:/app/media
    depends_on:
      - db
      - rabbitmq
    env_file:
      - .env

volumes:
  postgres_data:
  rabbitmq_data:
  media_volume:
  static_volume: